[submodule "backend"]
	path = backend
	url = https://github.com/2024-Summer-Techeer-BootCamp-Team-E/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/2024-Summer-Techeer-BootCamp-Team-E/frontend.git
